<div class="container">
<div class="row">
  <div class="col-md-12 text-center">
    <h3><%= t '.title' %></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4><%= t '.subtitle.functional' %></h4>
  </div>
</div>

<div class="row">
	<div class="col-md-2">
		<b><%= t '.registry' %></b>
	</div>
	<div class="col-md-1">
		<%= format_registry @employee %>
	</div>
	<div class="col-md-9">
		<%= stars @employee, 5 %>
	</div>
</div>

<div class="row">
  <div class="col-md-2">
    <b><%= t '.name' %></b>
  </div>
  <div class="col-md-10">
    <%= @employee.name %>
  </div>
</div>

<br/>

<% unless @employee.employment.to_s.empty? %>
<div class="row">
  <div class="col-md-2">
    <b><%= t '.employment' %></b>
  </div>
  <div class="col-md-10">
    <%= @employee.employment %>
  </div>
</div>
<% end %>

<% unless @employee.category.to_s.empty? %>
<div class="row">
  <div class="col-md-2">
    <b><%= t '.category' %></b>
  </div>
  <div class="col-md-10">
    <%= @employee.category %>
  </div>
</div>
<% end %>

<% unless @employee.reference.to_s.empty? %>
<div class="row">
  <div class="col-md-2">
    <b><%= t '.reference' %></b>
  </div>
  <div class="col-md-10">
    <%= @employee.reference %>
  </div>
</div>
<% end %>

<% unless @employee.working_hours.to_s.empty? %>
<div class="row">
  <div class="col-md-2">
    <b><%= t '.working_hours' %></b>
  </div>
  <div class="col-md-10">
    <%= @employee.working_hours %>
  </div>
</div>
<% end %>

<br/>

<% unless @employee.regional.to_s.empty? %>
<div class="row">
  <div class="col-md-2">
    <b><%= t '.regional' %></b>
  </div>
  <div class="col-md-10">
    <%= format_regional @employee %>
  </div>
</div>
<% end %>

<% unless @employee.department.to_s.empty? %>
<div class="row">
  <div class="col-md-2">
    <b><%= t '.department' %></b>
  </div>
  <div class="col-md-10">
    <%= @employee.department %>
  </div>
</div>
<% end %>

<% unless @employee.hiring_date.nil? %>
<div class="row">
  <div class="col-md-2">
    <b><%= t '.hiring_date' %></b>
  </div>
  <div class="col-md-10">
    <%= l @employee.hiring_date %>
  </div>
</div>
<% end %>

<br/>

<div class="row">
  <div class="col-md-12">
    <h4><%= t '.subtitle.financial' %></h4>
  </div>
</div>

<% if @payment %>
<div class="row">
  <div class="col-md-2">
    <b><%= t '.reference_date' %></b>
  </div>
  <div class="col-md-1">
    <%= payment_reference @payment %>
  </div>
  <div class="col-md-9">
    <%= link_to t('.payment_history'), payment_history_path(registry: @employee.registry) %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <b><%= t '.payment' %></b>
  </div>
  <div class="col-md-10">
    <%= number_to_currency @payment.total %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <b><%= t '.eventual' %></b>
  </div>
  <div class="col-md-10">
    <%= number_to_currency @payment.eventual %>
  </div>
</div>
<% end %>

<hr/>

<h4><%= t '.timeline' %></h4>
<br/>

<%= promotions_board @employee %>
</div>