<nav class="navbar navbar-toggleable-md fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#home">Home</a>
  <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <h5><a class="nav-link" href="#news"><%= t 'news.title' %></a></h5>
      </li>
      <li class="nav-item">
        <h5><a class="nav-link" href="#promotion"><%= t '.promotion.title' %></a></h5>
      </li>
      <li class="nav-item">
        <h5><%= link_to t('sign_out'), signout_path, method: :delete, class: 'nav-link' %></h5>
      </li>
    </ul>
  </div>
</nav>

<br/><br/>
<div class="jumbotron text-center">
  <h1><%= t '.title' %></h1>
  <p><%= t '.subtitle' %></p>
</div>

<div id="news" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2><%= t 'news.title' %></h2>
      <h4><%= t 'news.subtitle', version: ENV['APP_VERSION'] %></h4>
      <% @news.each do |e| %>
      * <%= e.message %><br/>
      <% end %>
    </div>
    <div class="col-sm-4">
      <%= image_tag 'blip.png' %>
    </div>
  </div>
</div>

<div id="promotion" class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag 'promotion.png' %>
    </div>
    <div class="col-sm-8">
      <h2><%= t '.promotion.title' %></h2>
      <h4><%= t '.promotion.subtitle' %></h4>
      <p>
        <a href="#"><%= t '.promotion.merit.label' %>:</a>
        <%= t '.promotion.merit.text' %>
      </p>
      <p>
        <a href="#"><%= t '.promotion.time_service.label' %>:</a>
        <%= t '.promotion.time_service.text' %>
      </p>
    </div>
  </div>
</div>