<div id="news" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2><%= t 'news.title' %></h2>
      <h4><%= t 'news.subtitle', version: Rails.configuration.radarpgcs[:version] %></h4>
      <% @news.each do |e| %>
      * <%= e.message %><br/>
      <% end %>
    </div>
    <div class="col-sm-4">
      <%= image_tag 'newspaper.png' %>
    </div>
  </div>
</div>

<div id="promotion" class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag 'promotion.png' %>
    </div>
    <div class="col-sm-8">
      <h2><%= t '.promotion.title' %></h2>
      <h4><%= t '.promotion.subtitle' %></h4>
      <p class="text-justify">
        <%= t '.promotion.definition' %>
      </p>
      <p>
        <%= link_to t('.see_more'), promotions_path %>
      </p>
    </div>
  </div>
</div>

<div id="gfe_table" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2><%= t '.gfe.title' %></h2>
      <h4><%= t '.gfe.subtitle' %></h4>
      <p class="text-justify">
        <%= t '.gfe.definition' %>
      </p>
      <p>
        <%= link_to t('.see_more'), gfe_tables_path %>
      </p>
    </div>
    <div class="col-sm-4">
      <%= image_tag 'gfe-badge.png' %>
    </div>
  </div>
</div>