<div id="news" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2><%= t 'news.title' %></h2>
      <h4><%= t 'news.subtitle', version: ENV['APP_VERSION'] %></h4>
      <% @news.each do |e| %>
      * <%= e.message %><br/>
      <% end %>
    </div>
    <div class="col-sm-4">
      <%= image_tag 'blip.png' %>
    </div>
  </div>
</div>

<div id="promotion" class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag 'promotion.png' %>
    </div>
    <div class="col-sm-8">
      <h2><%= t '.promotion.title' %></h2>
      <h4><%= t '.promotion.subtitle' %></h4>
      <p>
        <a href="#"><%= t '.promotion.merit.label' %>:</a>
        <%= t '.promotion.merit.text' %>
      </p>
      <p>
        <a href="#"><%= t '.promotion.time_service.label' %>:</a>
        <%= t '.promotion.time_service.text' %>
      </p>
    </div>
  </div>
</div>