<!DOCTYPE html>
<html lang="pt">
<head>
  <title><%= t 'app_name' %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body id="home" data-spy="scroll" data-target=".navbar" data-offset="60">
  <%= yield %>
  <%= build_menu_footer menu_items: [
    { label: t('menu.footer.home'), path: home_path },
    { label: t('menu.footer.contact'), path: '' },
    { label: t('menu.footer.faq'), path: faq_path },
    { label: t('menu.footer.project_site'), path: ENV['PROJECT_SOURCE_URL'] }
  ]%>

  <div id="modalVersionMessage" class="modal fade" tabindex="-1" role="dialog">
    <br/>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><%= t 'news.title' %></h4>
        </div>
        <div id="modalNews" class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t 'close' %></button>
        </div>
      </div>
    </div>
  </div>

  <% if @should_show_news %>
  <script>
    $(document).ready(function() {
      showModalNews();
    });
  </script>
  <% end %>
</body>
</html>