<!DOCTYPE html>
<html lang="pt">
<head>
  <title><%= t 'app_name' %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body id="home">
  <%= build_menu_header home_path: home_path, menu_items: [
    { label: t('menu.header.promotion'), path: '#promotion' }
  ] %>

  <div class="container">
  <% flash.each do |key, message| %>
    <div class="row">
      <div id="<%= key %>_message" class="alert alert-<%= key.sub 'reCAPTCHA', '' %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <b><%= t "alert.title.#{key}" %></b>

        <p id="p_<%= key %>"><%= message %></p>
      </div>
    </div>
  <% end %>

  <%= yield %>
  </div>
  <%= build_menu_footer menu_items: [
    { label: t('menu.footer.home'), path: home_path },
    { label: t('menu.footer.contact'), path: contact_path },
    { label: t('menu.footer.faq'), path: faq_path },
    { label: t('menu.footer.project_site'), path: ENV['PROJECT_SOURCE_URL'] }
  ]%>
</body>
</html>